[DEFAULT] # fuzzing only config
base        = /home/islab/storage_1/p2im-work/p2im
#base        = /home/bo/fuzzing
run         = 1.0
#Candidates: 
#modbus/firmata/quad_copter/self_balancing_robot/soldering_iron/cnc
program     = console
working_dir = %(base)s/fw/%(program)s/%(run)s

[afl] # fuzzing only config
bin         = %(base)s/afl/afl-fuzz
timeout     = 150+
input       = %(working_dir)s/inputs
output      = %(working_dir)s/outputs

[cov] # fuzzing coverage counting config
#count_hang  = False
count_hang  = True
bbl_cov_read_sz = 20000000 ; 20MB w/o hang
#bbl_cov_read_sz = 20000000 ; 20MB w hang
timeout     = 1 ; 1s

[qemu]
bin         = %(base)s/qemu/precompiled_bin/qemu-system-gnuarmeclipse
#bin         = /home/bo/Work/qemu/install/debian64/qemu/bin/qemu-system-gnuarmeclipse
log         = unimp,guest_errors,int
#log         = unimp,guest_errors,exec,int -D qemu.log

[program]
#board       = STM32F429I-Discovery
#mcu         = STM32F429ZI
#board       = NUCLEO-F103RB
#mcu         = STM32F103RB
#board       = Arduino-Due
#mcu         = SAM3X8E
board       = FRDM-K64F
mcu         = MK64FN1M0VLL12

#Candidates: 
#modbus.ino.elf/StandardFirmata.ino.elf/Firmware_V101-103C8.elf/InvertedPendule.elf/
#TS100_EN.elf/grbl_stm32f4
img         = %(working_dir)s/console.elf

[model]
retry_num   = 3
peri_addr_range = 512
#objdump     = /home/bo/iot/toolchains/gcc-arm-none-eabi-6-2017-q2-update/bin/arm-none-eabi-objdump
objdump     = /home/zg/gcc-arm-none-eabi-10-2020-q4-major/bin/arm-none-eabi-objdump
# config below are fuzzing only
bin         = %(base)s/model_instantiation/me.py
log_file    = %(working_dir)s/me.log
